<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
<h1><%= @registered_application.name %> </h1>
<h4><%= link_to "#{@registered_application.url}", @registered_application.url %></h4>
<ul>
<% @events.each do |name, events| %>
    <li>
    <%= name.humanize.pluralize %>: <%= events.length %>
    </li>
<% end %>
<%= pie_chart @registered_application.events.group(:name).count %>
<%= line_chart @registered_application.events.group_by_day(:created_at).count %>
<%= link_to "Edit", edit_registered_application_path(@registered_application), class: 'btn btn-success' %>
<%= link_to "Delete", @registered_application, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this application?' } %>
