<!DOCTYPE html>
<html>
<head>
  <title>Blocmetrics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="pull-right">
  <% if current_user %>
    Hello <%= current_user.name || current_user.email %>!
    <%= link_to "My Applications", registered_applications_index_path %>
    <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
    <%= link_to "Sign Out", sign_out_path %>
  <% else %>
    <%= link_to "Sign In", sign_in_path %> or
    <%= link_to "Sign Up", sign_up_path %>
  <% end %>
  </div>
  <%= render partial: 'shared/flashes' %>
  <%= yield %>
</div>

</body>
</html>
